{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #842312;
    color: white;
    text-align: center;
    padding: 80px 20px;
}
header h1{
    font-size: 48px;
    margin-bottom: 10;
}
header p{
    font-size: 24px;
    margin-top: 0;
}
html{ scroll-behavior: smooth;
}